#Gameplay-Area {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1000px;
    height: 100%;
    transform: translate(-50%, -50%);
}


#CosmicCube {
    margin-right: 12%;
    margin-left: 13%;
}

#Energy {
    margin-right: 12%;
    margin-left: 13%;
}

#PlayArea {
    margin-bottom: 10px;
}

#MiddleColumn {
    margin-right: 12%;
    margin-left: 13%;
}

#RightColumn {
    padding-left: 1px;
}


.left-padding {
    margin-left: 16px;
}

.deck-height {
    height: 165px;
}
.deck {
    display: flex;
    align-items: center;
}

.column-padding {
    padding-left: 15px !important;
}

.card-width {
    width: 150px !important;
    max-height: 140px !important;
    min-height: 130px !important;
}

.power-energy {
    padding-bottom: 15px;
}

.card-name {
    text-align: center;
    white-space: normal;
}

.placed-card {
    font-size: 8px;
    padding-bottom: 0px;
}

.ai-column {
    cursor: not-allowed;
}

.button-options {
    height: auto;
    min-height: 55px;
}