div.Center {
  position: absolute;
  border: 5px solid;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
}

div.Header {
    border: 1px solid blue;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}

div.MiddleArea {
    border: 5px solid yellow;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}

div.Player {
   margin-left: 5%;
   width: 20%;
   border: 1px solid green; 
}

div.AI {
    width: 20%;
    border: 1px solid green;  
}

div.TimeCenter {
    width: 20%;
    border: 1px solid green; 
}

div.MiddleAreaLeft {
    margin-left: 5%;
    width: 20%;
    border: 1px solid green; 
 }
 
 div.MiddleAreaMiddle {
     width: 20%;
     border: 1px solid green;  
 }
 
 div.MiddleAreaRight {
     width: 20%;
     border: 1px solid green; 
 }

 div.MiddleLeftTop {
    display:grid;
    grid-template-columns: 30% 30%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 1px solid orange;
    justify-content: center;
 }

 div.MiddleLeftBottom {
    display:grid;
    grid-template-columns: 30% 30%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border: 1px solid orange;
    justify-content: center;
 }

 div.MiddleCard {
    display: flex;
    justify-content: center;
    border: 3px solid pink;
 }

 p.TopLeft {
    border: 1px solid purple;
 }

 p.TopRight {
    border: 1px solid purple;
 }

 p.BottomLeft {
    border: 1px solid purple;
 }

 p.BottomRight {
    border: 1px solid purple;
 }

p.Time {
    border: 1px solid red;
}

p.PlayerName {
    border: 1px solid red;
}

p.AIName {
    border: 1px solid red;
}